body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    border: 2px solid black;
    width: min(70vw, 70vh);
    height: min(70vw, 70vh);
    margin-bottom: 20px;
}

.container .row {
    display: flex;
}

.container .row .column {
    flex: 1;
    width: 100%; 
    aspect-ratio: 1/1;
}

.container .row .column.last {
    border-right: 0px;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}